/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/
:root {
  --primary-font: "Poppins", sans-serif;
  --heading-font: "Playfair Display", serif;
  --branding-color: #7fa99b;
  --secondary-color: #fbf2d5;
}

.hero {
  text-align: left;
  background-color: var(--branding-color);
  padding: 100px 0 80px;
}
.hero p {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 36px;
}
.hero h1 {
  font-family: var(--heading-font);
  font-size: 80px;
  font-weight: bold;
}
.hero h2 {
  font-family: var(--primary-font);
  font-weight: normal;
}

.luiza {
  width: 400px;
  height: auto;
}
.first-project {
  text-align: left;
  margin: 0 20px 0 0;
}

.first-project h2 {
  font-family: var(--heading-font);
  font-size: 50px;
}

.first-project h6 {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: normal;
}
.first-project p {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: normal;
}

.second-project {
  text-align: right;
  margin: 20px 0;
}
.second-project h2 {
  font-family: var(--heading-font);
  font-size: 50px;
  margin-top: -32px;
}

.second-project h6 {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: normal;
}
.second-project p {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: normal;
}

#btn-contact-me {
  background-color: var(--secondary-color);
  color: black;
  border-color: var(--secondary-color);
  font-size: 18px;
  padding: 15px 30px;
}
#btn-weather-app,
#btn-adopt-app {
  background-color: fffff;
  color: var(--branding-color);
  border-color: var(--branding-color);
  font-size: 16px;
  padding: 15px 20px;
}

#img-weather-app {
  max-width: 80%;
  height: auto;
  margin: -47px 100px 25px;
  border-radius: 4px;
}

#img-adopt-app {
  max-width: 80%;
  height: auto;
  margin: -47px 80px 50px;
  border-radius: 4px;
}
