@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

:root {
  --primary-font: "Poppins", sans-serif;
  --heading-font: "Playfair Display", serif;
  --branding-color: #330033;
  --secondary-color: #440043;
  --heading-color: #d9b1d9;
  --contact-btn-color: #fe4a53;
  --contact-links-color: #ac7088;
  --nav-links-color: #440043;
}
body {
  background-color: #faf5ff;
}
header {
  padding: 65px !important;
  background-color: var(--branding-color);
  max-width: 100%;
}

header h3 {
  font-size: 40px;
  font-family: var(--heading-font);
  color: var(--heading-color);
}
.heading-short {
  display: inline;
  font-family: var(--heading-font) !important;
}
h1 {
  font-family: var(--heading-font);
  font-size: 80px;
  font-weight: bold;
  color: #ffffff;
}
h3 {
  font-family: var(--primary-font);
  font-size: 30px;
  text-align: center;
  color: var(--branding-color);
  text-transform: uppercase;
  margin: 30px 0 50px;
}

h2 {
  font-family: var(--primary-font);
  font-size: 35px;
  line-height: 1.6;
  font-weight: 400;
}

h4 {
  font-family: var(--primary-font);
  color: var(--secondary-color);
  font-size: 18px;
  font-weight: 500;
  margin-top: 15px;
  text-transform: uppercase;
}
h5 {
  font-family: var(--primary-font);
  font-size: 30px;
  color: var(--heading-color);
  margin: 7px 0 0;
}

h6 {
  font-family: var(--primary-font);
  font-size: 20px;
  font-weight: normal;
}

.about__content-title {
  font-family: var(--primary-font);
  font-size: 30px;
  text-align: center;
  color: var(--heading-color);
  margin: 30px 0 50px;
  text-transform: uppercase;
}

span {
  display: flex;
  justify-content: center;
}

nav {
  padding: 10px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 17px;
}
nav a {
  text-decoration: none;
  color: var(--nav-links-color);
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a,
footer a:hover {
  color: var(--contact-links-color);
}
footer {
  padding: 40px;
  font-family: var(--primary-font);
  color: var(--heading-color);
  font-size: 12px;
  line-height: 1.5;
}
footer a {
  color: var(--contact-links-color);
  text-decoration: underline;
}
.main-page {
  padding: 0 !important;
  max-width: 100%;
}

.hero {
  max-width: 100%;
  margin: 0 !important;
  text-align: left;
  background-color: var(--branding-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #330033;
  padding: 100px 0 70px;
  color: var(--heading-color);
}
.hero p {
  font-family: var(--primary-font) !important;
  font-size: 30px;
  line-height: 1;
  color: var(--heading-color) !important;
  opacity: 95%;
}

.wrapper.two {
  font-size: 6rem;
  font-family: "Play", sans-serif;
}
.neon h1 {
  margin: 1rem auto;
  animation: neon 2s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 10px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8,
      0 0 20px #ef00e3a8, 0 0 2px #fed128, 2px 2px 2px #806914;
    color: #f5efcb;
  }
  50% {
    text-shadow: 0 0 2px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b,
      0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
    color: #eda0d3;
  }
}

h2 .typing {
  margin: 0;
}

.four h2 {
  width: 36ch;
  border-right: 4px solid black;
  margin: 2rem auto;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(13, end),
    blink-caret 0.5s step-end infinite alternate;
}
@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.first-project {
  text-align: left;
  margin: auto;
  color: var(--heading-color);
}

.second-project {
  text-align: right;
  margin: 0;
  color: var(--heading-color);
}
.grow {
  transition: 1s ease;
  cursor: pointer;
}
.grow:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 1s ease;
}

.text-muted {
  color: var(--contact-links-color) !important;
}

#weather-app-p {
  font-size: 14px;
}

.card-project-main {
  justify-content: space-around;
  margin-bottom: 5rem;
  max-height: 80%;
}

.contact-icons {
  font-size: 25px;
  margin: 15px;
  color: var(--contact-links-color);
}

.border {
  border: 2px solid var(--contact-links-color) !important;
}

.skills {
  display: inline-flex;
  flex-wrap: wrap;
}
.skills__skill {
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-size: 12px;
  border: 1px solid #ef00e3a8;
  box-shadow: 0 0 5px #ef00e3a8, 0 0 5px #ef00e3a8 inset;
  color: var(--contact-links-color);
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
}

a {
  color: var(--nav-links-color);
  text-decoration: none;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}
a :hover {
  color: var(--secondary-color);
}

#btn-projects,
#btn-contact-me {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  margin: 7px;
  background-color: transparent;
  color: var(--heading-color);
  border: solid 1.5px #ef00e3a8;
  transition: all 100ms ease-in-out;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

#btn-projects:hover,
#btn-contact-me:hover {
  border: 1px solid #ef00e3a8;
  box-shadow: 0 0 5px #ef00e3a8, 0 0 5px #ef00e3a8 inset;
  color: var(--contact-links-color);
}

#btn-contact-me-about {
  background-color: var(--branding-color);
  color: var(--heading-color);
  border-color: var(--branding-color);
  opacity: 95%;
  font-size: 16px;
  padding: 15px 15px;
}

#btn-contact-me-about:hover {
  border: 1px solid #ef00e3a8;
  box-shadow: 0 0 5px #ef00e3a8, 0 0 5px #ef00e3a8 inset;
  color: var(--contact-links-color);
}

#btn-weather-app,
#btn-adopt-app {
  background-color: fffff;
  color: var(--secondary-color);
  border-color: var(--secondary-color);
  font-size: 16px;
  padding: 15px 20px;
}

#btn-weather-app:hover,
#btn-adopt-app:hover {
  color: var(--contact-btn-color);
  border: solid 1.2px var(--contact-btn-color);
  transition: all 100ms ease-in-out;
}

#btn-launch-project {
  background-color: #e5d4f7;
  color: var(--nav-links-color);
  transition: all 100ms ease-in-out;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  opacity: 60%;
  font-size: 14px;
  padding: 0.7rem 3rem;
  text-transform: uppercase;
}

#btn-launch-project:hover {
  border: 1px solid #ef00e3a8;
  box-shadow: 0 0 5px #ef00e3a8, 0 0 5px #ef00e3a8 inset;
  color: var(--secondary-color);
  opacity: 100%;
}

#img-bishkek-app {
  max-width: 77%;
  height: 103%;
  margin: 8px 90px 28px;
  border-radius: 4px;
}

#img-weather-app {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
}

#img-adopt-app {
  max-width: 90%;
  height: auto;
  margin: -47px 0px 50px 50px;
  border-radius: 4px;
}

#img-project {
  max-width: 87%;
  height: 65%;
  border-radius: 4px;
}

#img-project:hover {
  box-shadow: 0px 0px 15px #ef00e3a8;
}

.weather-margin {
  margin-left: 100px;
}

.brighten {
  -webkit-filter: brightness(60%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.brighten:hover {
  -webkit-filter: brightness(100%);
}

#img-portrait-icon {
  max-width: 35%;
  margin-top: -47px;
}
#adopt-section {
  padding: 0 50px 0 100px;
}
#btn-work-inquiry {
  background-color: transparent;
  color: var(--contact-links-color);
  border-color: var(--contact-links-color);
  opacity: 85%;
  font-size: 16px;
  border: 12px 30px !important;
  padding: 12px 25px;
  margin-right: 70px;
}

#btn-work-inquiry:hover {
  border: solid 1px var(--branding-color);
  opacity: 100%;
  transition: all 100ms ease-in-out;
}

.content-container {
  justify-content: space-evenly;
  color: var(--heading-color);
  margin: 0 !important;
  padding: 0 !important;
}

.content-container h1 {
  font-size: 50px;
  padding-top: 150px;
}
.content-container h2 {
  font-size: 22px;
}
.contact-container h1 {
  font-size: 50px;
}

#my-story-heading {
  color: var(--branding-color);
}
.about-me {
  padding-left: 25px;
}
.about-me-image {
  max-width: 70%;
  margin-left: 50px;
  margin-top: 60px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 1s ease;
}
.about-me-image:hover {
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
}

.box {
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 80px;
  /* border: 1px solid #ef00e3a8;
  box-shadow: 0 0 5px #ef00e3a8, 0 0 5px #ef00e3a8 inset; */
}

.contact-page-heading {
  color: var(--secondary-color);
}

#email-contact a {
  color: var(--contact-links-color);
  display: flex;
  flex-direction: column;
}

#email-contact :hover {
  color: var(--secondary-color);
  text-decoration: none;
}

.social-links-footer a {
  margin: 0 20px;
  color: var(--heading-color);
  background: var(--secondary-color);
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
.social-links-footer :hover {
  color: var(--branding-color);
  background-color: var(--heading-color);
}
.email-footer h4 {
  color: var(--secondary-color);
}

.contact-icons {
  color: var(--branding-color);
}

.contact-icons:hover {
  color: #ef00e3a8;
}
.work-inquiry {
  display: block;
  margin: 0;
  background-color: var(--branding-color);
  color: var(--heading-color);
  padding: 40px 0;
  max-width: 100%;
}

/* /////////////////////// MEDIA QUERIES ///////////////////////// */

@media (max-width: 915px) {
  div.container {
    margin-right: 10px !important;
  }
  header {
    padding: 40px !important;
    background-color: var(--branding-color);
    max-width: 100%;
    text-align: center;
    justify-content: space-evenly;
  }

  header h3 {
    font-size: 19px;
  }

  h3 {
    font-size: 18px;
    margin: 1rem !important;
  }

  h4 {
    font-size: 20px;
    margin-top: -30px;
  }
  h5 {
    font-family: var(--primary-font);
    font-size: 20px;
    color: var(--heading-color);
    margin: 14px 0px 14px -63px;
  }
  h6 {
    font-size: 12px;
  }

  nav ul {
    margin-right: 8px;
  }
  nav li {
    margin-left: 7px;
    line-height: 30px;
  }
  nav a {
    font-size: 12px;
    color: var(--nav-links-color);
  }
  footer {
    font-size: 8px;
    margin: 0;
    padding: 15px 0 20px;
  }
  .hero {
    justify-content: center !important;
    text-align: center !important;
    padding: 40px 0 25px 0;
  }

  .hero p {
    font-size: 20px;
  }
  .hero h1 {
    font-size: 40px;
    margin-top: -10px;
  }
  .hero h2,
  .first-project h3 {
    font-size: 17px;
    margin-top: -10px;
  }
  #btn-contact-me,
  #btn-projects,
  #btn-contact-me-about {
    margin-top: -30px;
    font-size: 10px;
    padding: 8px 15px;
    text-align: center;
    justify-content: center;
  }
  #btn-launch-project {
    margin-top: -21px;
    font-size: 10px;
    padding: 7px 9px;
    text-align: center;
    justify-content: center;
  }
  .first-project,
  .second-project {
    text-align: center;
    justify-content: space-evenly;
    margin-top: -18px;
    flex: 1;
  }

  .first-project p,
  .second-project p,
  .content-container p {
    justify-content: center;
    font-size: 12px;
  }

  .first-project h2,
  .second-project h2 {
    font-size: 25px;
    margin-top: -15px !important;
  }
  .find-me {
    margin-top: 15px !important;
  }

  .card-project-main {
    justify-content: space-around;
    margin-top: 0rem !important;
  }
  #adopt-section {
    padding: 0 !important;
  }
  #btn-weather-app,
  #btn-adopt-app {
    font-size: 10px;
    padding: 8px 15px;
  }

  .content-container {
    margin-top: 20px;
    margin-left: -50px;
    text-align: center;
  }
  .content-container h1 {
    font-size: 21px;
    padding: 0 !important;
    margin-left: 29px;
  }
  .contact-container h1 {
    font-size: 35px;
    padding: 0 !important;
    margin-bottom: 35px !important;
  }
  .contact-container {
    margin-top: 100px;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .content-container h2 {
    font-size: 14px;
  }
  .box {
    max-width: 320px;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 80px;
  }

  #btn-contact-me-about {
    display: block;
    margin: -20px auto;
    justify-content: center;
    max-width: 50%;
  }
  .about-me-image {
    max-width: 60%;
    margin: 45px;
  }

  .social-links-footer a {
    margin: -17px 14px 17px !important;
    padding: 10px 15px !important;
    font-size: 15px !important;
  }

  #img-adopt-app {
    max-width: 90%;
    height: auto;
    margin: -47px 0px 50px 0px;
    border-radius: 4px;
  }

  .img-work-weather {
    width: 70%;
    height: auto;
    margin: 30px 0 0px;
    border-radius: 4px;
  }

  .img-work-bishkek {
    max-width: 70%;
    height: auto;
    margin: -10px 0 28px;
    border-radius: 4px;
  }

  .img-work-adopt {
    max-width: 70%;
    height: auto;
    margin: 20px 0 0px;
    border-radius: 4px;
  }

  div .col-lg-3 {
    height: 20%;
    margin-bottom: 2rem !important;
  }

  .skills__skill {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    font-size: 10px;
  }

  #email-contact {
    font-size: 10px !important;
  }
  .email-footer h4 {
    margin-top: 5px !important;
  }

  .about__content-title {
    font-size: 20px;
    margin: 10px 0 30px;
  }

  .work-inquiry {
    padding: 3rem;
    border-radius: 7px;
  }
}
