/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/

h1 {
  font-family: "Playfair Display", serif;
  font-size: 36px;
}

p {
  font-family: "Poppins", sans-serif;
}
